

.player-selection{
    display: flex;
    margin: auto;
    background: beige;
    padding: 10px;
    justify-content: space-around;
    height: 50px;
}

.player-selection input{
    height: 30px;
    width: 100px;
}

.result{
    display: flex;
    justify-content: center;
    background: gray;
}

#result{
    text-align: center;
}

.player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;

    background: gray;
}

.name{
    height: 30px;
}

.selection{
    height: 70px;
    background: gray;
}

.comp-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;

    background: beige;
}