

.get-number-rounds{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 300px;

    margin: auto;
    margin-top: 500px;
    border: 1px solid black;
}

.gnr-upper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    
    border: 1px solid black;
}

.gnr-upper h3{
    text-align: center;
}

.gnr-lower{
    display: flex;
    height: 40px;
    
    border: 1px solid black;
}